src/main/app/wmt-mfs-crm-post-transaction-unblock.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <flow name="wmt-mfs-post-transaction-unblock-main-flow">
        
        <logger message="At Transaction Unblock" level="INFO" doc:name="Logger" category="com.wmt.crm.exp.transaction-unblock"/>
        <set-variable variableName="flowName" value="wmt-mfs-post-transaction-unblock-main-flow" doc:name="Set Flow Name"/>
        <component class="com.wmt.mfs.crm.exp.JWTHeaderToProperties" doc:name="JWTHeaderToProperties"/>
        <message-properties-transformer doc:name="Message Properties">
        	<add-message-property key="userLanguage" value="#[message.inboundProperties.'userLanguage']"/>
        </message-properties-transformer>       
        <flow-ref name="wmt-mfs-post-transaction-unblock-request-flow" doc:name="wmt-mfs-post-transaction-unblock-request-flow"/>
       
        <logger message="Response: #[message.payloadAs(java.lang.String)]" level="DEBUG" category="com.wmt.crm.exp.transaction-unblock" doc:name="Logger"/>
  
    </flow>
    
    <flow name="wmt-mfs-post-transaction-unblock-request-flow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	transaction_id : payload.transaction_id,
	reason: payload.reason,
	state: "UNBLOCK"
}]]></dw:set-payload>
        </dw:transform-message>
    
    
    	<http:request config-ref="HTTP_Request_Configuration_for_PROC" path="/modify-transaction-state" method="POST" doc:name="HTTP">
            <http:success-status-code-validator values="200..299,400..499,500..599"/>
        </http:request>
          
        <validation:is-true config-ref="Validation_Configuration" message="Request Error" exceptionClass="com.wmt.mfs.crm.exp.exception.WaveMoneyHttpException" expression="#[message.inboundProperties[&quot;http.status&quot;] == 200]" doc:name="Validation"/>
        <component class="com.wmt.mfs.crm.exp.PropertiesToJWTHeader" doc:name="PropertiesToJWTHeader"/>
    
        <exception-strategy ref="wmt-mfs-crm-global-exception-choice_exception_strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
